nav,
header,
footer {
    display: block}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;}
.row::after {
    display: table;
    clear: both;
    content: "";}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.container {
    max-width: 1440px;
    overflow: hidden;
    margin: auto;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Top Bar */

.top-bar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 125px;
    max-width: 1100px;
}

.top-bar img{
    max-width: 100%;
}

.try-button {
    border: 1.5px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    background: white;
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    float: right;
    font-weight: 500;
    margin-right: 50px;
    margin-top: 2px;
    padding: 5px 20px;
    
}

/*  Header */

.try-button:hover {
    background: hsl(322,100%,66%);
    color: white;
}

.header {
    margin: auto;
    max-width: 1000px;
    padding-bottom: 50px;
}

.header-h1 {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 2.8rem;
    text-align: center;
}

.header-content {
    margin: auto;
    max-width: 500px;
    text-align: center;
}

.get-started-button {
    margin-top: 40px;
    margin-bottom: 50px;
}

.get-started-button button {
    background: hsl(322,100%,66%);
    border: none;
    border-radius: 22px;
    box-shadow: 0px 2px 13px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
    font-size: .8rem;
    line-height: 1.5;
    padding: 13px 80px;
    text-decoration: none;
}

.get-started-button button:hover{
    background: hsl(322,100%,60%);
    box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.5);
}

/* Section 2*/

.section-two {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 25px;
}

.image-div {
    text-align: center;
}

.image-div img {
    max-width: 75%;
    margin-bottom: 75px;
}

.section-two__col-6 {
    margin: auto;
    text-align: center;
}

.section-two--box {
    margin: auto;
    max-width: 200px;
}

.section-two--img__left {
    text-align: left;
    margin-left: 20px;
}

.section-two--img {
    text-align: left;
}

.section-two--number {
    font-size: 4rem;
    font-weight: 700;
}

.section-two--text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
}

/* Section 3 */
.background1-top {
    margin-bottom: -5px;
}

.background2-top {
    margin-bottom: -5px;
    margin-top: 50px;
}

.background1-bottom {
    margin-bottom: 50px;
}

.background1-top__mobile {
    display: none;
}
.background2-top__mobile {
    display: none;
}

.background1-bottom__mobile {
    display: none;
}

.background2-bottom__mobile {
    display: none;
}

.section-three__img {
    width: 75%;
}

.light-background {
    background: hsl(207, 100%, 98%);
}

.header-h1__left {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 2.9rem;
    padding-left: 100px;
    text-align: left;
}
.section-three__text {
    padding: 10px 100px;
    text-align: left;
}

/* Section four */

.section-four__button {
    margin: auto;
    text-align: center;
}

/* Section 5 */

.background3-top {
    margin-bottom: -5px;
    margin-top: 100px;
}
.background3-top img {
    max-width: 1440px;
}
.background3-top__mobile {
    display: none;
}

.dark-background {
    background: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
}

.newsletter-box {
    margin-left: 200px;
    max-width: 230px;
    text-align: left;
}

.newsletter-title {
    margin: 25px 0px;
}

.section-five__text {
    font-size: .6rem;
    margin-bottom: 2rem;
}

.input-field__box {
    margin-left: 200px;
    margin-bottom: 150px;
}

.input-field {
    border: none;
    border-radius: 5px;
    height: 1.7rem;
    max-width: 220px;
    margin-right: 20px;
}

.subscribe-button {
    background-color: hsl(322,100%,66%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 20px;
}

.section-five__left-box {
    margin-left: 100px;
    max-width: 250px;
}
.white-logo {
    margin-top: -20px;
    margin-bottom: 20px;
}
.white-logo img {
    max-width: 75%;
}
.section-five__contact {
    margin-top: -20px;
}
.phone-image, .email-image {
    max-width: .6rem;
    margin-right: .6rem;
}

.contact-text {
    font-size: .6rem;
}

.fontawesome {
    margin-top: 100px;
}

.fab {
    color: hsl(207, 100%, 98%);
    padding: 5px;
}

.flip {
    display: flex;
}


@media screen and (max-width: 770px) {  
    .col-6 {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .flip {
        flex-direction: column-reverse;
    }

    .top-bar{
        padding-left: 20px;
    }
    .top-bar img {
        max-width: 50%;
    }

    .header-content {
        margin: auto;
        padding: 5px;
        text-align: center;
    }

    .header-h1__left {
        padding: 0;
        text-align: center;
    }

    .section-three__text{
        padding: 10px;
        max-width: 500px;
        text-align: center;
    }

    .section-five__left-box {
        margin: auto;
        text-align: center;
    }

    .input-field__box {
        margin: 0;
        text-align: center;
    }

    .section-five__text {
        padding: 10px;
        font-size: .8rem;
        max-width: 500px;
        text-align: left;
    }
        .newsletter-box {
        margin: auto;
        padding: 10px;
        max-width: 500px;
        text-align: left;
    }

    .newsletter-title {
        padding: 10px;
    }

    .section-five__left-box {
    padding: 10px;
    max-width: 500px;
    text-align: left;
    }





}

@media screen and (max-width: 370px) { 
    .header-content {
        margin: auto;
        padding: 5px;
        text-align: center;
    }

    .header-h1 {
        padding: 10px;
    }

    .background1-top__mobile {
        display: block;
        margin-bottom: -5px;
    }
    .background1-top {
        display: none;
    }
    .background1-bottom__mobile {
        display: block;
    }

    .background1-bottom {
        display: none;
    }

    .background2-top__mobile {
        display: block;
        margin-bottom: -5px
    }

    .background2-top {
        display: none;
    }

    .background3-top__mobile {
        display: block;
        margin-bottom: -5px;  
    }

    .background3-top {
        display: none;
    }

    .col-6 {
        width: 100%
    }

    .section-three__text{
        padding: 10px;
        max-width: 500px;
        text-align: center;
    }

    .section-five__left-box {
        padding: 10px;
        max-width: 500px;
        text-align: left;
    }

    .newsletter-box {
        padding: 10px;
        max-width: 500px;
        text-align: left;
    }

    .newsletter-title {
        padding: 10px;
    }

    .section-five__text {
        padding: 10px;
        font-size: .8rem;
        max-width: 500px;
        text-align: left;
    }

    .section-five__contact {
        padding: 10px;
    }
    .phone-image, .email-image {
        font-size: 1rem;
    }

    .contact-text {
        font-size: .8rem;
    }

}

